<main>
  <!-- User -->
  <div class="modal fade" id="userModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-body border-0 rounded-2">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="userModalLabel">Registrar usuario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-4 py-5">
          <div class="row g-3">
            <div class="col-md-6">
              <label for="departamento" class="form-label fw-semibold fs-sm mb-1">Departamento:</label>
              <select class="form-select rounded-1" name="departamento" id="departamento" required>
                <option selected disabled value="">Seleccione un Departamento</option>
                <option *ngFor="let department of departments" [value]="department.idDepartment">
                  {{ department.name }}
                </option>
              </select>
              <div class="invalid-feedback" id="departamentoError">
              </div>
            </div>
            <div class="col-md-6">
              <label for="cargo" class="form-label fw-semibold fs-sm mb-1">Cargo:</label>
              <select class="form-select rounded-1" name="cargo" id="cargo" required>
                <option selected disabled value="">Seleccione un perfil</option>
                <option *ngFor="let cargo of cargos" [value]="cargo.idCargo">
                  {{ cargo.name }}
                </option>
              </select>
              <div class="invalid-feedback" id="cargoError">
              </div>
            </div>

            <div class="col-md-6">
              <label for="usuario" class="form-label fw-semibold fs-sm mb-1">Usuario:</label>
              <input type="text" class="form-control rounded-1" name="usuario" id="usuario" required />
              <div class="invalid-feedback" id="usuarioError">
              </div>
            </div>

            <div class="col-md-6">
              <label for="email" class="form-label fw-semibold fs-sm mb-1">Email:</label>
              <input type="email" class="form-control rounded-1" name="email" id="email" required />
              <div class="invalid-feedback" id="emailError">
              </div>
            </div>

            <div class="col-md-6">
              <label for="primerNombre" class="form-label fw-semibold fs-sm mb-1">Primer Nombre:</label>
              <input type="text" class="form-control rounded-1" name="primerNombre" id="primerNombre" required />
              <div class="invalid-feedback" id="primerNombreError">
              </div>
            </div>

            <div class="col-md-6">
              <label for="segundoNombre" class="form-label fw-semibold fs-sm mb-1">Segundo Nombre</label>
              <input type="text" class="form-control rounded-1" name="segundoNombre" id="segundoNombre" required />
              <div class="invalid-feedback" id="segundoNombreError">
              </div>
            </div>

            <div class="col-md-6">
              <label for="primerApellido" class="form-label fw-semibold fs-sm mb-1">Primer Apellido:</label>
              <input type="text" class="form-control rounded-1" name="primerApellido" id="primerApellido" required />
              <div class="invalid-feedback" id="primerApellidoError">
              </div>
            </div>

            <div class="col-md-6">
              <label for="segundoApellido" class="form-label fw-semibold fs-sm mb-1">Segundo Apellido</label>
              <input type="text" class="form-control rounded-1" name="segundoApellido" id="segundoApellido" required />
              <div class="invalid-feedback" id="segundoApellidoError">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary rounded-0 px-4" id="registerButton" >Registrar</button>
          <button type="button" class="btn btn-custom rounded-0 px-4" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete -->
  <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content border-0 shadow-lg">
        <div class="modal-body">
          <p class="text-start fs-sm mb-0">¿Está seguro de eliminar el usuario seleccionado?</p>
        </div>
        <div class="modal-footer border-0 pt-0">
          <button type="button" class="btn btn-primary px-4" id="deleteButton">Aceptar</button>
          <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <section class="py-5">
    <div class="container-fluid">
      <div class="row g-3 mb-4 border-bottom-body">
        <div class="px-4">
          <div class="col-auto mb-3">
            <p class="small mb-0">Módulo de Administración</p>
            <h4 class="fw-bold">Administración de usuarios</h4>
          </div>
          <div class="mb-3">
            <div class="d-flex flex-wrap gap-3">
              <div class="dropdown">
                <button class="btn btn-custom-dropdown btn-department dropdown-toggle rounded-0" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Seleccione un Departamento
                </button>
                <ul class="dropdown-menu dropdown-department">
                  <li *ngFor="let department of departments">
                    <a class="dropdown-item cursor-pointer" (click)="selectDepartment(department.idDepartment.toString())" [attr.data-id]="department.idDepartment.toString()">{{ department.name }}</a>
                  </li>
                </ul>
              </div>

              <div class="dropdown">
                <button class="btn btn-custom-dropdown btn-cargo dropdown-toggle rounded-0" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Seleccione un Cargo
                </button>
                <ul class="dropdown-menu dropdown-cargo">
                  <li *ngFor="let cargo of cargos">
                    <a class="dropdown-item cursor-pointer" (click)="selectPosition(cargo.idCargo.toString())" [attr.data-id]="cargo.idCargo.toString()">{{ cargo.name }}</a>
                  </li>
                </ul>
              </div>

              <div class="ms-xxl-auto">
                <button type="button" class="btn btn-custom fw-normal rounded-0" data-bs-toggle="modal"
                  data-bs-target="#userModal" data-modo="addUsuario">Crear nuevo usuario</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="px-3" id="users">
        <div class="card border-0 rounded-0">
          <div class="card-body p-4">
            <div class="table-responsive">
              <table class="table border">
                <thead>
                  <tr>
                    <th class="text-table-body text-center fw-semibold fs-6" scope="col">Usuario</th>
                    <th class="text-table-body text-center fw-semibold fs-6" scope="col">Nombres</th>
                    <th class="text-table-body text-center fw-semibold fs-6" scope="col">Apellidos</th>
                    <th class="text-table-body text-center fw-semibold fs-6" scope="col">Departamento</th>
                    <th class="text-table-body text-center fw-semibold fs-6" scope="col">Cargo</th>
                    <th class="text-table-body text-center fw-semibold fs-6" scope="col">Email</th>
                    <th class="text-table-body text-center fw-semibold fs-6" scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody class="list" id="usuarios-table-body">

                  <tr *ngIf="isLoading">
                    <td colspan="7" class="fs-9 align-middle text-center">
                      <div class="spinner-border text-primary" roles="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </td>
                  </tr>

                  <tr *ngIf="!isLoading && users.length === 0">
                    <td colspan="7" class="text-center text-danger">No hay usuarios registrados.</td>
                  </tr>

                  <tr *ngFor="let user of users">
                    <td class="text-center">{{ user.usuario }}</td>
                    <td class="text-center">{{ user.primerNombre }} {{ user.segundoNombre || '' }}</td>
                    <td class="text-center">{{ user.primerApellido }} {{ user.segundoApellido || '' }}</td>
                    <td class="text-center">{{ user.departamento }}</td>
                    <td class="text-center">{{ user.cargo }}</td>
                    <td class="text-center">{{ user.email }}</td>
                    <td class="text-center">
                      <button type="button" class="btn btn-fruit px-4 rounded-1" data-bs-toggle="modal"
                        data-bs-target="#userModal" [attr.data-modo]="'editUsuario'" [attr.data-idUsuario]="user.idUser"
                        [attr.data-usuario]="user.usuario" [attr.data-primerNombre]="user.primerNombre"
                        [attr.data-segundoNombre]="user.segundoNombre" [attr.data-primerApellido]="user.primerApellido"
                        [attr.data-segundoApellido]="user.segundoApellido"
                        [attr.data-idDepartamento]="user.idDepartamento" [attr.data-departamento]="user.departamento"
                        [attr.data-idCargo]="user.idCargo" [attr.data-cargo]="user.cargo"
                        [attr.data-email]="user.email">
                        <i class="bi bi-pencil-square"></i>
                        Editar
                      </button>
                      <button type="button" class="btn btn-razzmatazz px-4 rounded-1" data-bs-toggle="modal"
                        data-bs-target="#deleteModal" [attr.data-idUsuario]="user.idUser">
                        <i class="bi bi-trash"></i>
                        Eliminar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- pagination -->
            <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
              <div class="col-auto d-flex">
                <span class="fs-9" id="page-info-usuarios-lists">{{ pageInfo }}</span>
              </div>
              <div class="col-auto d-flex">
                <ul class="pagination mb-0 align-items-center">
                  <li class="page-item">
                    <button class="btn-sm page-link" [disabled]="!pagination.prev_page_url" (click)="prevPage()">
                      <i class="bi bi-chevron-left"></i>
                    </button>
                  </li>
                  <li class="page-item mx-2">Página {{ pagination.current_page }} de {{ pagination.last_page }}</li>
                  <li class="page-item">
                    <button class="btn-sm page-link" [disabled]="!pagination.next_page_url" (click)="nextPage()">
                      <i class="bi bi-chevron-right"></i>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>